# Dependencies
node_modules
package-lock.json

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log

# Build artifacts
dist
build
.next
out
